@font-face {
    font-family: "Avenir Next Regular";
    src: url(assets/fonts/AvenirNext-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Avenir Next Medium";
    src: url(assets/fonts/AvenirNext-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Avenir Next Light";
    src: url(assets/fonts/AvenirNext-UltraLight.ttf) format("truetype");
}

body, html {
    height: 100%;
}

.blue-color {
    background-color: #65A4FD;
}

.bg { 
    /* The image used */
    background-image: url(assets/scrim.png);

    /* Full height */
    min-height: 100%; 


    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.phone-image {
    padding-top: 40px;

    /*padding-left: 200px;*/
    /*padding-bottom: 20px;*/
    width: 270px;
    /*display: block;*/
    margin: 0 auto;
    /*position: static;*/
    
}

/*.icon-container {
    margin-left: 10%
}*/

#icon-upper-left {
    /*padding-top: 30px;*/
    float: left;
    width: 55px;
    display: block;
    height: 63px;
    /*display: block;*/
}

/*@media screen and (max-width: 1000px) {
    .bg {
        background-size: auto 250%;
    }
}*/

#name-container {
    display: flex;
    justify-content: flex-start;
}

.left-side h1 {
    color: white;
}

.main-row {
    padding-top: 70px;
    padding-bottom: 20px;
}

.main {

	margin-left: 100px;
	margin-top: 60px;
    padding-right: 60px;
}

.name-subtext {
	font-family: 'Avenir Next Light', sans-serif;
	color: white;
	font-size: 34px;
}

.description {
	font-family: 'Avenir Next Light', sans-serif;
	color: white;
	font-size: 24px;
	margin-top: 55px;
}

.btn-primary {
    background-color: white;
    font-family: 'Avenir Next Medium', sans-serif;
    color: #3185FC;
    margin: auto;
    width: 150px;
    border: none;
}

.sign-up-container {
    padding-top: 10px;
    padding-left: 0;
    margin: 0 auto;
    font-family: 'Avenir Next Medium', sans-serif;
    font-weight: 100;
    display: flex;
    justify-content: center;
}

.validate {
    width: 100%;
}

#app-name {
	/*color: #fbec5d;*/
	color: white;
	font-family: 'Avenir Next Regular', sans-serif;
	font-size: 56px;
	margin-bottom: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    /*width: 300px;*/
    margin-right: 4px;

    position: relative;
}

#phone-image {

    background-image: url(assets/Dashboard_iphone7silver_portrait.png);
    width: 298px;
    height: 606px;
    margin: 0 auto;

}

#phone-image video {
    margin-top: 71px;
}

@media screen and (max-device-width : 400px)
{
  .main {
    margin-right: 10%;
    margin-left: 10%;
    padding-right: 0px;
  }
}




