body, html {
    height: 100%;
}

.blue-color {
    background-color: #65A4FD;
}

.bg { 
    /* The image used */
    background-image: url(assets/scrim.png);

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.phone-image {
    padding-top: 40px;
    padding-left: 200px;
    padding-bottom: 20px;
}

.left-side h1 {
    color: white;
}

.main {
	margin-left: 100px;
	margin-top: 100px;
}

.name-subtext {
	font-family: 'Muli', sans-serif;
	color: white;
	font-weight: 100;
	font-size: 34px;
}

.description {
	font-family: 'Muli', sans-serif;
	color: white;
	font-weight: 100;
	font-size: 24px;
	margin-top: 55px;
}

#app-name {
	/*color: #fbec5d;*/
	color: white;
	font-family: 'Muli', sans-serif;
	font-size: 56px;
	margin-bottom: 20px;
}

